using Microsoft.Extensions.DependencyInjection;
using {{ namespace }}.Data;

namespace {{ namespace }}.Core;

public static partial class ServiceCollectionExtensions
{
    static partial void AddDataStore(IServiceCollection services)
    {
        services.AddSingleton<SqliteVecStore>();
    }
}
