{{ tool_prefix_env }}_URL=
{% if auth_schemes | length > 0 -%}
{{ tool_prefix_env }}_AUTH_METHOD={{ auth_schemes.0.method_key }}
{% endif -%}
{% for scheme in auth_schemes %}
{%- if scheme.method_key == "basic" %}
{{ tool_prefix_env }}_USERNAME=
{{ tool_prefix_env }}_PASSWORD=
{%- elif scheme.method_key == "apiKey" %}
{{ tool_prefix_env }}_API_KEY=
{%- elif scheme.method_key == "pat" %}
{{ tool_prefix_env }}_TOKEN=
{%- elif scheme.method_key == "oauth2" %}
{{ tool_prefix_env }}_CLIENT_ID=
{{ tool_prefix_env }}_CLIENT_SECRET=
{%- elif scheme.method_key == "oauth1" %}
{{ tool_prefix_env }}_CONSUMER_KEY=
{{ tool_prefix_env }}_CONSUMER_SECRET=
{{ tool_prefix_env }}_PRIVATE_KEY_PATH=
{%- endif %}
{% endfor -%}
{{ tool_prefix_env }}_LOG_LEVEL=info
